_Lambda School Data Science ‚Äî Linear Models_

# Intro to Predictive Modeling

### Objectives
- recognize examples of supervised learning with tabular data
- distinguish between regression problems and classification problems
- explain why overfitting is a problem and model validation is important
- do train/test split
- begin with baselines for regression

I like Brandon Rohrer‚Äôs blog post, [‚ÄúWhat questions can machine learning answer?‚Äù](https://brohrer.github.io/five_questions_data_science_answers.html)

We‚Äôll focus on two of these questions in Unit 2. These are both types of ‚Äúsupervised learning.‚Äù

- ‚ÄúIs this A or B?‚Äù (Classification)
- ‚ÄúHow Much / How Many?‚Äù (Regression)

**This unit, you‚Äôll do four supervised learning projects** with ‚Äútabular data‚Äù (data in tables, like spreadsheets).

- Predict New York City apartment rents <-- **Today, we'll start this project!**
- Predict which water pumps in Tanzania need repairs
- Predict the prices suppliers will quote Caterpillar for industrial parts
- Choose your own labeled, tabular dataset, train a predictive model, and publish a blog post or web app with visualizations to explain your model!

# Predict NYC apartment rent üè†üí∏

You'll use a real-world data with rent prices for a subset of apartments in New York City!

Run this code cell to load the dataset:

In [1]:
import pandas as pd

In [2]:
LOCAL = '../data/nyc/nyc-rent-2016.csv'
WEB = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/nyc/nyc-rent-2016.csv'

df = pd.read_csv(WEB)
assert df.shape == (48300, 34)

### Install [pandas-profiling](https://github.com/pandas-profiling/pandas-profiling), version >= 2

In [3]:
import pandas_profiling
pandas_profiling.__version__

'2.1.0'

## Define the problem
- Is this **supervised** learning?
- Is this **tabular** data?
- Is this **regression** or **classification**?

this is supervided 
this is tabular data
this needs a regression tree to predict

In [4]:
df.head()

,bathrooms,bedrooms,created,description,display_address,latitude,longitude,price,street_address,interest_level,...,high_speed_internet,balcony,swimming_pool,new_construction,exclusive,terrace,loft,garden_patio,common_outdoor_space,wheelchair_access
0,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,40.7145,-73.9425,3000,792 Metropolitan Avenue,medium,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2,2016-06-12 12:19:27,,Columbus Avenue,40.7947,-73.9667,5465,808 Columbus Avenue,low,...,0,0,0,0,0,0,0,0,0,0
2,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,40.7388,-74.0018,2850,241 W 13 Street,high,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,40.7539,-73.9677,3275,333 East 49th Street,low,...,0,0,0,0,0,0,0,0,0,0
4,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,40.8241,-73.9493,3350,500 West 143rd Street,low,...,0,0,0,0,0,0,0,0,0,0

## Explain why overfitting is a problem and model validation is important

#### Jason Brownlee, [Overfitting and Underfitting With Machine Learning Algorithms](https://machinelearningmastery.com/overfitting-and-underfitting-with-machine-learning-algorithms/)

> The goal of a good machine learning model is to **generalize** well from the training data to any data from the problem domain. This allows us to make predictions in the future on data the model has never seen.

> The cause of poor performance in machine learning is either overfitting or underfitting the data.

> **Overfitting** refers to a model that models the training data too well. Overfitting happens when a model learns the detail and noise in the training data to the extent that it negatively impacts the performance of the model on new data. 

> **Underfitting** refers to a model that can neither model the training data nor generalize to new data.

> Ideally, you want to select a model at the sweet spot between underfitting and overfitting.


#### Rob Hyndman & George Athanasopoulos, [_Forecasting: Principles and Practice_, Chapter 3.4](https://otexts.com/fpp2/accuracy.html), Evaluating forecast accuracy:

> The following points should be noted.

> - A model which fits the training data well will not necessarily forecast well.
> - A perfect fit can always be obtained by using a model with enough parameters.
> - Over-fitting a model to data is just as bad as failing to identify a systematic pattern in the data.

> **The accuracy of forecasts can only be determined by considering how well a model performs on new data that were not used when fitting the model.**

> When choosing models, it is common practice to separate the available data into two portions, training and test data, where the training data is used to estimate any parameters of a forecasting method and the test data is used to evaluate its accuracy. Because the test data is not used in determining the forecasts, it should provide a reliable indication of how well the model is likely to forecast on new data.

![](https://otexts.com/fpp2/fpp_files/figure-html/traintest-1.png)

> The size of the test set is typically about 20% of the total sample, although this value depends on how long the sample is and how far ahead you want to forecast. The test set should ideally be at least as large as the maximum forecast horizon required.

> Some references describe the test set as the ‚Äúhold-out set‚Äù because these data are ‚Äúheld out‚Äù of the data used for fitting. Other references call the training set the ‚Äúin-sample data‚Äù and the test set the ‚Äúout-of-sample data‚Äù. We prefer to use ‚Äútraining data‚Äù and ‚Äútest data‚Äù in this book.


#### Rachel Thomas, [How (and why) to create a good validation set](https://www.fast.ai/2017/11/13/validation-sets/)

> An all-too-common scenario: a seemingly impressive machine learning model is a complete failure when implemented in production. The fallout includes leaders who are now skeptical of machine learning and reluctant to try it again. How can this happen?

> One of the most likely culprits for this disconnect between results in development vs results in production is a poorly chosen validation set (or even worse, no validation set at all). 



#### James, Witten, Hastie, Tibshirani, [An Introduction to Statistical Learning](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 2.2, Assessing Model Accuracy

> In general, we do not really care how well the method works training on the training data. Rather, _we are interested in the accuracy of the predictions that we obtain when we apply our method to previously unseen test data._ Why is this what we care about? 

> Suppose that we are interested test data in developing an algorithm to predict a stock‚Äôs price based on previous stock returns. We can train the method using stock returns from the past 6 months. But we don‚Äôt really care how well our method predicts last week‚Äôs stock price. We instead care about how well it will predict tomorrow‚Äôs price or next month‚Äôs price. 

> On a similar note, suppose that we have clinical measurements (e.g. weight, blood pressure, height, age, family history of disease) for a number of patients, as well as information about whether each patient has diabetes. We can use these patients to train a statistical learning method to predict risk of diabetes based on clinical measurements. In practice, we want this method to accurately predict diabetes risk for _future patients_ based on their clinical measurements. We are not very interested in whether or not the method accurately predicts diabetes risk for patients used to train the model, since we already know which of those patients have diabetes.

#### Owen Zhang, [Winning Data Science Competitions](https://www.slideshare.net/OwenZhang2/tips-for-data-science-competitions/8)

> Good validation is _more important_ than good models.

## Do train/test split

We have two options for where we choose to split:
- Time
- Random

This choice depends on your goals. Rachel Thomas explains why you may want to split on time:

#### Rachel Thomas, [How (and why) to create a good validation set](https://www.fast.ai/2017/11/13/validation-sets/)

> If your data is a time series, choosing a random subset of the data will be both too easy (you can look at the data both before and after the dates your are trying to predict) and not representative of most business use cases (where you are using historical data to build a model for use in the future). If your data includes the date and you are building a model to use in the future, you will want to choose a continuous section with the latest dates as your validation set

For this project, we'll split based on time. 

- Use data from April & May 2016 to train.
- Use data from June 2016 to test.

(But in some future projects this unit, we'll do random splits, and explain why.)

In [6]:
#df.profile_report()
df.created.head()

0    2016-06-24 07:54:24
1    2016-06-12 12:19:27
2    2016-04-17 03:26:41
3    2016-04-18 02:22:02
4    2016-04-28 01:32:41
Name: created, dtype: object

In [5]:
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)

In [6]:
df['month'] = df['created'].dt.month

In [7]:
df.shape

(48300, 35)

In [8]:
train = df.query('month < 6')
test = df.query('month == 6')

train.shape, test.shape

((31515, 35), (16785, 35))

In [9]:
train.created.describe()

count                   31515
unique                  31116
top       2016-05-02 03:41:36
freq                        3
first     2016-04-01 22:12:41
last      2016-05-31 23:10:48
Name: created, dtype: object

In [10]:
first10 = test[['price']].head(10)
first10.head()

    price
0    3000
1    5465
11   1675
14   3050
24   7400

## Begin with baselines for regression

In [11]:
first10['predicted'] = [3432] * 10

In [12]:
first10['error'] = first10['predicted'] - first10['price']
first10.head()

    price  predicted  error
0    3000       3432    432
1    5465       3432  -2033
11   1675       3432   1757
14   3050       3432    382
24   7400       3432  -3968

In [13]:
first10['error'].mean()

250.9

In [16]:
first10["abs_err"] = first10['error'].abs()
first10

    price  predicted  error  abs_err
0    3000       3432    432      432
1    5465       3432  -2033     2033
11   1675       3432   1757     1757
14   3050       3432    382      382
24   7400       3432  -3968     3968
34   2300       3432   1132     1132
39   2396       3432   1036     1036
47   1900       3432   1532     1532
58   2000       3432   1432     1432
81   2625       3432    807      807


### Why begin with baselines?

[My mentor](https://www.linkedin.com/in/jason-sanchez-62093847/) [taught me](https://youtu.be/0GrciaGYzV0?t=40s):

>***Your first goal should always, always, always be getting a generalized prediction as fast as possible.*** You shouldn't spend a lot of time trying to tune your model, trying to add features, trying to engineer features, until you've actually gotten one prediction, at least. 

> The reason why that's a really good thing is because then ***you'll set a benchmark*** for yourself, and you'll be able to directly see how much effort you put in translates to a better prediction. 

> What you'll find by working on many models: some effort you put in, actually has very little effect on how well your final model does at predicting new observations. Whereas some very easy changes actually have a lot of effect. And so you get better at allocating your time more effectively.

My mentor's advice is echoed and elaborated in several sources:

[Always start with a stupid model, no exceptions](https://blog.insightdatascience.com/always-start-with-a-stupid-model-no-exceptions-3a22314b9aaa)

> Why start with a baseline? A baseline will take you less than 1/10th of the time, and could provide up to 90% of the results. A baseline puts a more complex model into context. Baselines are easy to deploy.

[Measure Once, Cut Twice: Moving Towards Iteration in Data Science](https://blog.datarobot.com/measure-once-cut-twice-moving-towards-iteration-in-data-science)

> The iterative approach in data science starts with emphasizing the importance of getting to a first model quickly, rather than starting with the variables and features. Once the first model is built, the work then steadily focuses on continual improvement.

[*Data Science for Business*](https://books.google.com/books?id=4ZctAAAAQBAJ&pg=PT276), Chapter 7.3: Evaluation, Baseline Performance, and Implications for Investments in Data

> *Consider carefully what would be a reasonable baseline against which to compare model performance.* This is important for the data science team in order to understand whether they indeed are improving performance, and is equally important for demonstrating to stakeholders that mining the data has added value.

### What does baseline mean?

Baseline is an overloaded term, as you can see in the links above. Baseline has multiple meanings:

#### The score you'd get by guessing

> A baseline for classification can be the most common class in the training dataset.

> A baseline for regression can be the mean of the training labels. 

> A baseline for time-series regressions can be the value from the previous timestep. ‚Äî[Will Koehrsen](https://twitter.com/koehrsen_will/status/1088863527778111488)

#### Fast, first models that beat guessing

What my mentor was talking about.

#### Complete, tuned "simpler" model

Can be simpler mathematically and computationally. For example, Logistic Regression versus Deep Learning.

Or can be simpler for the data scientist, with less work. For example, a model with less feature engineering versus a model with more feature engineering.

#### Minimum performance that "matters"

To go to production and get business value.

#### Human-level performance 

Your goal may to be match, or nearly match, human performance, but with better speed, cost, or consistency.

Or your goal may to be exceed human performance.

In [17]:
first10

    price  predicted  error  abs_err
0    3000       3432    432      432
1    5465       3432  -2033     2033
11   1675       3432   1757     1757
14   3050       3432    382      382
24   7400       3432  -3968     3968
34   2300       3432   1132     1132
39   2396       3432   1036     1036
47   1900       3432   1532     1532
58   2000       3432   1432     1432
81   2625       3432    807      807

In [18]:
first10['abs_err'].mean()

1451.1

In [20]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(first10['price'], first10['predicted'])

1451.1

In [29]:
y_test = test['price']
y_pred = [train['price'].mean()] * len(test)

1052.6798017842948