##Import and Fetch

In [1]:
!pip install pandas_profiling
!pip install category_encoders

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (1.12.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (0.24.2)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (3.0.3)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (2.10.1)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2.5.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (41.0.1)
Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import category_encoders as ce
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/train_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/train_labels.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/test_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/sample_submission.csv

--2019-07-21 19:49:58--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/train_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20054664 (19M) [text/plain]
Saving to: ‘train_features.csv.5’

train_features.csv. 100%[===================>]  19.12M  --.-KB/s    in 0.1s

2019-07-21 19:49:58 (151 MB/s) - ‘train_features.csv.5’ saved [20054664/20054664]

--2019-07-21 19:49:59--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/train_labels.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1148327 (1.1M) [text/plain]
Saving to: ‘train_labels.csv.5’

train_labels.csv.5  100%[===================>]   1.09M  --.-KB/s    in 0.04s

2019-07-21 19:49:59 (25.1 MB/s) - ‘train_labels.csv.5’ saved [1148327/1148327]

--2019-07-21 19:49:59--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/test_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4851589 (4.6M) [text/plain]
Saving to: ‘test_features.csv.5’

test_features.csv.5 100%[===================>]   4.63M  --.-KB/s    in 0.07s

2019-07-21 19:50:00 (68.8 MB/s) - ‘test_features.csv.5’ saved [4851589/4851589]

--2019-07-21 19:50:01--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/tanzania/sample_submission.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 241972 (236K) [text/plain]
Saving to: ‘sample_submission.csv.5’

sample_submission.c 100%[===================>] 236.30K  --.-KB/s    in 0.03s

2019-07-21 19:50:01 (7.86 MB/s) - ‘sample_submission.csv.5’ saved [241972/241972]

In [0]:
import pandas_profiling as pp

In [5]:
!ls

sample_data		 test_features.csv.2   train_features.csv.5
sample_submission.csv	 test_features.csv.3   train_labels.csv
sample_submission.csv.1  test_features.csv.4   train_labels.csv.1
sample_submission.csv.2  test_features.csv.5   train_labels.csv.2
sample_submission.csv.3  train_features.csv    train_labels.csv.3
sample_submission.csv.4  train_features.csv.1  train_labels.csv.4
sample_submission.csv.5  train_features.csv.2  train_labels.csv.5
test_features.csv	 train_features.csv.3
test_features.csv.1	 train_features.csv.4

In [0]:
#load dataframes
X = pd.read_csv('train_features.csv')
Y = pd.read_csv('train_labels.csv')

Y = Y.status_group

#Split data
X_train, X_val, y_train, y_val = train_test_split(X, Y,random_state = 42,stratify = Y)

In [0]:
#pp.ProfileReport(X)

##Baseline

In [8]:
#Baseline
y_train.value_counts(normalize = True)

functional                 0.543075
non functional             0.384242
functional needs repair    0.072682
Name: status_group, dtype: float64

In [9]:
#get nums from df
numericals = X.select_dtypes('number').columns.to_list()
print(numericals)

['id', 'amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'region_code', 'district_code', 'population', 'construction_year']

In [10]:
model = LogisticRegression(solver = 'lbfgs', multi_class = 'auto', max_iter = 350)
model.fit(X_train[numericals],y_train)
model.score(X_val[numericals], y_val)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.5484848484848485

In [11]:
#plot coefficent values for each label
fig = plt.figure(figsize = (30,5), )

ax = fig.add_subplot(131)
coeffs = pd.Series(model.coef_[0], numericals)
ax = coeffs.sort_values().plot.barh()
ax.set_title(model.classes_[0], color = 'g')

ax1 = fig.add_subplot(132)
coeffs = pd.Series(model.coef_[1], numericals)
ax1 = coeffs.sort_values().plot.barh()
ax1.set_title(model.classes_[1], color = 'y')

ax2 = fig.add_subplot(133)
coeffs = pd.Series(model.coef_[2], numericals)
ax2 = coeffs.sort_values().plot.barh()
ax2.set_title(model.classes_[2], color = 'r')

Text(0.5, 1.0, 'non functional')

It looks like longitude and region code have some of the largest effects on the model based on the coefficients

##Cleaning

In [12]:
#Check if there are any coordinates in data that are outside of tanzania

#28 is west most and 42 is east most boundary  
print(X[(X.longitude <28) | (X.longitude > 42)].shape[0])

#0 is top most and -12 is lowest boundary
print(X[(X.latitude > 0) | (X.latitude < -12)].shape[0])

1812
0

In [0]:
#Clean zeroes, I will infer zero equate to missing data that cant be imputed
#There is no clean way to input these values without adding bias
zeroes = ['construction_year', 'longitude', 'population']
for col in zeroes:
  X[col].replace(to_replace = 0, value = np.NaN, inplace= True)

In [15]:
X[zeroes].isnull().sum()

construction_year    20709
longitude             1812
population           21381
dtype: int64

In [0]:
#eliminate null island values
X['latitude'] = X['latitude'].replace(-2e-08, np.nan)
X['longitude'] = X['longitude'].replace(-2e-08, np.nan)

#For consistency, replace latitude values with NaN where longitude contains NaN
X['latitude'] = np.where(X.longitude.isnull(), np.NaN, X.latitude)

In [17]:
X[['latitude', 'longitude']].isnull().sum()

latitude     1812
longitude    1812
dtype: int64

In [18]:
#get and print the median elevations for each region in df
elevations={}

#Store regions for possible use later?
regions = []

for region in X.region.unique():
  regions.append(region)
  elevations[region] = X[X.region == region]['gps_height'].median()

elevations

{'Arusha': 1401.0,
 'Dar es Salaam': 29.0,
 'Dodoma': 0.0,
 'Iringa': 1719.0,
 'Kagera': 0.0,
 'Kigoma': 1274.0,
 'Kilimanjaro': 1241.0,
 'Lindi': 233.0,
 'Manyara': 1474.0,
 'Mara': 1295.0,
 'Mbeya': 0.0,
 'Morogoro': 325.0,
 'Mtwara': 285.5,
 'Mwanza': 0.0,
 'Pwani': 45.0,
 'Rukwa': 1484.5,
 'Ruvuma': 924.5,
 'Shinyanga': 0.0,
 'Singida': 1481.0,
 'Tabora': 0.0,
 'Tanga': 293.0}

In [0]:
#These looks to be the problem areas. The median values for these regions should not be zeo
zero_regions = ['Dodoma', 'Kagera', 'Mbeya', 'Mwanza', 'Shinyanga', 'Tabora']

#I looked up the elevations and imputed the data
elevations['Dodoma'] = 1118
elevations['Kagera'] = 1500
elevations['Mbeya'] = 1700
elevations['Mwanza'] = 1140
elevations['Shinyanga'] = 1128
elevations['Tabora'] = 1191

#Use new values to clean zeroes in df based on imputed values
for key in elevations:
  if key in zero_regions:
    X.loc[X.region == key, 'gps_height'] = elevations[key]

In [20]:
X.describe()

                 id     amount_tsh  ...    population  construction_year
count  59400.000000   59400.000000  ...  38019.000000       38691.000000
mean   37115.131768     317.650385  ...    281.087167        1996.814686
std    21453.128371    2997.574558  ...    564.687660          12.472045
min        0.000000       0.000000  ...      1.000000        1960.000000
25%    18519.750000       0.000000  ...     40.000000        1987.000000
50%    37061.500000       0.000000  ...    150.000000        2000.000000
75%    55656.500000      20.000000  ...    324.000000        2008.000000
max    74247.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 10 columns]

##Preliminary Models